body,
html {
    margin: 0;
    height: 100%;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Heebo', sans-serif;
    color: #C9C4B8;
    display: grid;
    grid-template-rows: 120px 1fr 160px;
}

.c-header {
    grid-row: 1;
}

.c-video {
    overflow: hidden;
    display: block;
    height: 400px;
}

.c-video__film {
    margin-top: -55px;
    width: 100%;
}

.c-content {
    grid-row: 2;
}

.c-footer {
    grid-row: 3;
}

.c-footer__item {
}

/***** Theme *****/
.t-center-content,
.t-center-footer {
    display: flex;
}

.t-center-content {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.t-center-footer {
    justify-content: space-around;
    padding-top: 20px;
}

.t-hind-font {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}

.t-fade {
    color: #C9C4B8;
    animation: fadeIn 12s ease-in; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/***** Typography *****/
.t1 {
    font-size: 56px;
    transform: scale(1,1.6);
}

.t2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 100;
}
