body,
html {
    margin: 0;
    height: 100%;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Heebo', sans-serif;
    color: #C9C4B8;
    display: grid;
    grid-template-rows: 85px 1fr 108px;
}

.c-header {
    grid-row: 1;
}

.c-about {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 32px;
    font-size: 18px;
    font-weight: lighter;
}

.c-video {
    overflow: hidden;
    height: 470px;
    position: relative;
}

.c-video__film {
    object-fit: cover;
    height: 100vh;
    margin-top: -75px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    min-height: 50%;
    z-index: -1;
    transform: translateX(-50%);
}



.c-form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 35px;
}

.c-form__label {
    font-size: 18px;
    font-weight: lighter;
}

.c-form__field {
    width: 100%;
    margin: 10px 0 25px;
    padding: 8px;
    border: transparent;
    background-color: #d3d3d3;
    font-size: 16px;
    font-weight: lighter;
}

.c-form__submit {
    width: 100px;
    margin: 0 auto;
    display: block;
    background-color: #FFE8D4;
    border: transparent;
    font-size: 16px;
    padding: 8px;
    border-radius: 50px;
}

.c-content {
    grid-row: 2;
}

.c-footer {
    grid-row: 3;
}

/***** Theme *****/
.t-center-content,
.t-center-footer {
    display: flex;
}

.t-center-content {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

.t-center-footer {
    justify-content: space-around;
    padding-top: 20px;
}

.t-hind-font {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
}

.t-fade {
    color: #C9C4B8;
    animation: fadeIn 12s ease-in; 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/***** Typography *****/
.t1 {
    font-size: 38px;
    transform: scale(1,1.6);
}

.t2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 100;
}

.u-clickable {
    cursor: pointer;
}

.u-textarea-height {
    height: 150px;
}

@media screen and (min-width: 1900px) {
    body {
        grid-template-rows: 120px 1fr 120px;
    }

    .c-video {
        height: 815px;
    }

    .c-video__film {
        margin-top: -120px;
    }
}

@media screen and (min-width: 550px) {
    body {
        grid-template-rows: 120px 1fr 60px;
    }

    .t1 {
        font-size: 56px;
    }

    .c-video {
        height: 505px;
    }
}
