<div class="c-video">
    <video class="c-video__film" preload="auto" autoplay muted loop>
      <source src="assets/talain-intro-small.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
</div>
